In [33]:
# Import Dependencies

import pandas as pd
#from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [34]:
# Read the clean data set produced as part of Data Engineering part
clean_measure_df = pd.read_csv("clean_hawaii_measurements.csv")
clean_station_df = pd.read_csv("clean_hawaii_stations.csv")

clean_station_df.head()
clean_measure_df.head()
clean_station_df.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [35]:
# Create hawaii.sqllite database with measurements and station classes

# Create Measurement Class
class Measurement(Base): 
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(50))
    date = Column(String(10))
    precipitation = Column(Float(50))
    temperature = Column(Float(50))
    

class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(20))
    name = Column(String(50))
    lat = Column(Float(50))
    long = Column(Float(50))
    elevation = Column(Float(50))

In [36]:
# Create hawaii.sqllite database connection

from sqlalchemy import create_engine
from sqlalchemy.orm import Session

engine = create_engine("sqlite:///hawaii.sqlite")
Base.metadata.create_all(engine)
session = Session(bind=engine)