In [1]:
!rm hawaii.sqlite

rm: cannot remove 'hawaii.sqlite': No such file or directory

In [2]:
# Import Dependencies

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [3]:
# Read the clean data set produced as part of Data Engineering part
clean_measure_df = pd.read_csv("clean_hawaii_measurements.csv")
clean_station_df = pd.read_csv("clean_hawaii_stations.csv")


clean_measure_df.head()
clean_station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
# Create hawaii.sqllite database with measurements and station classes

# Create Measurement Class
class Measurement(Base): 
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(50))
    date = Column(String(10))
    prcp = Column(Float(50))
    tobs = Column(Float(50))
    

class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(20))
    name = Column(String(50))
    latitude = Column(Float(50))
    longitude = Column(Float(50))
    elevation = Column(Float(50))

In [5]:
# Create hawaii.sqllite database connection
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

#Delete exisitng data in the tables
Base.metadata.drop_all(engine)
engine.table_names()

#Create Tables
Base.metadata.create_all(engine)
#Create session
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [6]:
# Load data to Hawaii Database

clean_measure_df.to_sql(name='measurement', con=conn, flavor='sqlite',if_exists='append',index=False)
clean_station_df.to_sql(name='station', con=conn, flavor='sqlite',if_exists='append',index=False)

C:\Users\santo\Anaconda3\envs\PythonData\lib\site-packages\pandas\io\sql.py:531: FutureWarning: the 'flavor' parameter is deprecated and will be removed in a future version, as 'sqlite' is the only supported option when SQLAlchemy is not installed.
  _validate_flavor_parameter(flavor)